.preston-sum {
    padding: 10px;
    border: 1px dashed white;
}

.preston-title {
    padding: 10px;
    border: 1px dashed white;
}

.preston-arc {
    padding: 10px;
    border: 1px dashed white;
}

.contact {
    padding: 10px;
    border: 1px dashed white;
}

.front-footer {
    color: Indigo;
}

#timework {
    color: indigo;
}