#content {
 max-width: 500px;   
}
header {
  background-color: navy;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
}
footer {
  background-color: navy;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color:white;
}
main {
color: black;
}