@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
table {
width: 375px;
margin: auto;
box-shadow: 5px;
font-family:'Ubuntu',  sans-serif; 
padding: 0;
background-color: #7fb9c2;
text-align:center;
box-shadow: 5px 10px 8px #628ca6;}

td{
height: 2.5em; }

tr {
background-color: #e7f0ed;
height: 2.5em;}

th {
color: white;
background-color: #628ca6; }

.november {
background-color: #628ca6;
color: white;}

thead th {
background-color: #7fb9c2;
color: black;
font-size: 2rem;}

b:only-child {
color: white;}

tr:nth-child(odd) {
background-color: #e7ffed;}

tfoot td{
background-color: #7fb9c2;}