@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

header {
    color: maroon;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 950px;
    background-color: beige;
    justify-content: center;
    padding: 12px;
}



h1,h2 {
    text-align: center;
}
p {
    text-align: center;
}

img {
    max-width: 40%;
}

footer {
    text-align: center;
}