@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

header {
    color: maroon;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    background-color: beige;
    justify-content: center;
    padding: 12px;
    width: 375px;
}

section {
    max-width: 300px;
    padding: 15px;
}


h1,h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
p {
    text-align: center;
}

img {
    width: 200px;
    margin: auto;
    width:100%;
}

footer {
    text-align: center;
    padding: 15px;
}

@media only screen and (min-width: 500px){
    cards{
        grid-template-columns: 1fr 1fr;

    }
}

@media only screen and (min-width: 950px){
    cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}